.record {
  padding: 20px 0;
  border: 1px solid #ccc;
  border-radius: 3px;
  list-style: none;
  display: flex;
  color: var(--color-background-dark);
  justify-content: space-around;
  height: 40px;
  align-items: center;
  background-color: var(--color-background-lighter);
}

.record-calories {
  color: #012367;
  font-weight: bold;
}
