.record {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  place-items: center;
  height: 70px;
  background-color: var(--color-bg-primary);
  color: var(--color-font-primary);
  border-radius: 3px;
  list-style: none;
  align-items: center;
}

.record-calories {
  color: var(--bright-blue);
  font-weight: bold;
}
