.record {
  margin: 3px 0;
  padding: 20px 0;
  display: flex;
  justify-content: space-around;
  height: 70px;
  background-color: var(--color-bg-primary);
  color: var(--color-font-primary);
  border-radius: 3px;
  list-style: none;
  align-items: center;
}

.record-calories {
  color: var(--bright-blue);
  font-weight: bold;
}
