.listing-picker-label {
  color: var(--color-font-primary);
  line-height: 40px;
  font-weight: 500;
}

.listing-picker-input {
  margin: 20px;
  background-color: var(--color-bg-primary);
  color: var(--color-font-primary);
  border: 1px solid var(--color-font-secondary);
  padding: 10px;
  border-radius: 5px;
  width: 100%;
  max-width: 225px;
  margin-bottom: 20px;
  font-size: 16px;
  box-sizing: border-box;
}
.track-btn {
  padding: 12px 18px;
  margin: 24px auto;
  font-size: 24px;
  background-color: var(--bright-blue);
  color: #fff;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
  &:hover {
    background-color: var(--bright-blue-hover);
  }
}
