:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --color-background-dark: #023047;
  --color-background-light: #219ebc;
  --color-background-lighter: #8ecae6;
  --color-light-orange: #ffb703;
  --color-dark-orange: #fb8500;
}
body {
  font-family: var(font-family);
  display: grid;
  place-items: center;
  background-color: var(--color-background-dark);
}
